In [12]:
import faker
from faker import Faker
import pandas as pd
import random

# TABEL PEGAWAI

In [13]:
# fake username
fake = Faker('id_ID')

In [14]:
# generate random Id for employee

def createPegawaiTable(n) :
    arr = []
    for i in range(n) :
        element = {}
        element['NIP'] = random.randint(1000000000, 9999999999)
        element['Nama'] = fake.name()
        element['Email'] = fake.email()
        element['No_Telp'] = fake.phone_number()
        element['Jabatan'] = fake.job()
        if(i == 0) :
            element['Atasan'] = ''
        else :
            # random dia punya atasan atau tidak
            if(random.randint(0,1) == 0) :
                # get Atasan from random element['Atasan']
                element['Atasan'] = random.choice(arr)['NIP']
            else :
                element['Atasan'] = ''
        
        arr.append(element)
    return pd.DataFrame(arr)

In [15]:
pegawai = createPegawaiTable(50)
pegawai.head()

,NIP,Nama,Email,No_Telp,Jabatan,Atasan
0,4440542179,"Harsaya Anggraini, S.IP",laswi83@example.com,+62 (16) 829-6067,Politician's assistant,
1,4649005878,Violet Thamrin,prasetyawulan@example.org,+62 (0586) 571-5313,Sport and exercise psychologist,4440542179
2,2044555402,"Victoria Purnawati, M.Pd",rangganainggolan@example.com,+62 (018) 885-6830,"Designer, jewellery",4649005878
3,3068847430,T. Reksa Tarihoran,utamatamba@example.net,(094) 666-9362,"Editor, commissioning",4649005878
4,8415535654,"Drs. Mutia Purnawati, S.T.",kasusra78@example.com,+62 (081) 422 7329,Database administrator,3068847430

In [16]:
# pegawai.to_csv('pegawai.csv', index=False)