In [21]:
import faker
from faker import Faker
import pandas as pd
import random

# TABEL PEGAWAI

In [22]:
# fake username
fake = Faker('id_ID')

In [23]:
# generate random Id for employee

def createPegawaiTable(n) :
    arr = []
    for i in range(n) :
        element = {}
        element['NIP'] = i+1
        element['Nama'] = fake.name()
        element['Email'] = fake.email()
        element['No_Telp'] = fake.phone_number()
        element['Jabatan'] = fake.job()
        if(i == 0) :
            element['Atasan'] = ''
        else :
            # random dia punya atasan atau tidak
            if(random.randint(0,1) == 0) :
                # get Atasan from random element['Atasan']
                element['Atasan'] = random.choice(arr)['NIP']
            else :
                element['Atasan'] = ''
        
        arr.append(element)
    return pd.DataFrame(arr)

In [24]:
pegawai = createPegawaiTable(100)
pegawai.head()

,NIP,Nama,Email,No_Telp,Jabatan,Atasan
0,1,"R.A. Maimunah Fujiati, S.H.",fsudiati@example.org,+62-64-071-5464,"Accountant, chartered certified",
1,2,Tgk. Victoria Pertiwi,uwaismartani@example.net,+62 (0579) 364 9069,"Scientist, audiological",
2,3,"Rika Kuswandari, M.Pd",nashiruddinkartika@example.net,+62-89-952-8290,Glass blower/designer,
3,4,"Malika Nuraini, S.H.",upik53@example.net,+62 (0885) 640 1170,Equities trader,
4,5,"Tri Nasyidah, M.M.",hamzah34@example.com,+62-96-256-8462,"Surveyor, insurance",3

In [25]:
pegawai.to_csv('pegawai.csv', index=False)

In [26]:
def insertPelayanan() :
    arr = []
    for i in range(100) :
        element = {}
        element['NIP'] = random.randint(1,100)
        element['ID_Peminjaman'] = random.randint(1,100)
        element['NIK'] = random.randint(1,50) 
        arr.append(element)
    return pd.DataFrame(arr)

pelayanan = insertPelayanan()
pelayanan.head()
# save to .txt file
pelayanan.to_csv('pelayanan.csv', index=False)